@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('./assets/css/footer.css');
@import url('./assets/css/terminal.css');
@import url('./assets/css/chat.css');

body {
    font-family: 'Exo', sans-serif;
}

#content {
    padding: 10px 0 0 0;
}