<div class="row">
    <div class="col-md-6">
        <div id="terminal"></div>
    </div>
    <div class="col-md-6">
        <div id="chat"></div>
        <div id="file_flow"></div>
    </div>
</div>

<script src="./../assets/js/home.js"></script>