<nav id="appHeader" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><b>Helix</b></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" v-bind:class="{ active: home }" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-bind:class="{ active: database }" href="/database"><i class="fa fa-database" aria-hidden="true"></i> Database</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-bind:class="{ active: files }" href="/files"><i class="fa fa-files-o" aria-hidden="true"></i> Files</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-bind:class="{ active: index }" href="/index"><i class="fa fa-list-alt" aria-hidden="true"></i> Index</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    var path = window.location.pathname;

    var page = 'home';
    if (path === '/database' || path === '/database.html') {
        page = 'database';
    }
    
    const header = new Vue({
        el: '#appHeader',
        data: {
            home: false,
            database: false,
            files: false,
            index: false,
        },

        created: function () {
            // if (page === 'home') {
            //     this.home = true;
            // } else if (page === 'database') {
            //     this.database = true;
            // }
            this[page] = true;
        },
    });
</script>