#terminal > .terminal {
    background-color: black;
    background-image: radial-gradient(rgba(0, 46, 0, 0.75), black 120%);
    height: 50vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
}

#terminal > .terminal::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(0deg,
        rgba(black, 0.15),
        rgba(black, 0.15) 1px,
        transparent 1px,
        transparent 2px);
    pointer-events: none;
}

#terminal > .terminal>pre {
    /* margin-left: -40px; */
    overflow: hidden !important;
}

#terminal > .terminal>pre>output {
    color: #FFF !important;
    font: 1rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
}

#terminal > ::selection {
    background: #0080ff;
    text-shadow: none;
}