<div id="chatApp">
    <div class="card">
        <div class="card-header">
            Global Chat
        </div>
        <div class="card-body">
            <div v-if="joined">
                <div class="card">
                    <div id="chat-messages" class="card-content h-40" v-html="chat_content"></div>
                    <div class="card-footer">
                        <div class="input-group mb-3">
                            <textarea class="form-control" v-model="chat_message" @keyup.enter="send()"></textarea>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-success" @click="send()"><i class="fa fa-send" aria-hidden="true"></i> Send</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="file-flow"></div>
            </div>

            <div v-if="!joined">
                <div class="form-group">
                    <label for="host">WebSocket Host</label>
                    <input type="text" name="host" id="host" v-model="config.ws_host" class="form-control" placeholder="localhost:8181">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" v-model="user.email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" v-model="user.username" class="form-control" placeholder="Username">
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            
            <div v-if="!joined">
                <button type="button" class="btn btn-info float-right" @click="join()"><i class="fa fa-sign-in" aria-hidden="true"></i> Join</button>
            </div>
        </div>
    </div>
</div>

<script src="./../../assets/js/component/chat.js"></script>