<div id="fileFlowApp">
    <div class="card">
        <div class="card-header">
            File Upload
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Select File</label>
                <div class="input-group">
                    <input type="file" id="upfile" class="form-control">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primaty" @click="upload()"><i class="fa fa-upload" aria-hidden="true"></i>
                            Upload</button>
                    </div>
                </div>
                <small :class="upData.type">{{ upData.text }}</small>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            File Download
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Select Buildfile</label>
                <input type="file" id="downfile" class="form-control">
                <small :class="downData.type">{{ downData.text }}</small>
            </div>
            <div class="form-group">
                <label>Select Datamap</label>
                <input type="file" id="datamap" class="form-control">
                <small :class="dataMap.type">{{ dataMap.text }}</small>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="button" class="btn btn-success" @click="download()"><i class="fa fa-download" aria-hidden="true"></i>
                        Download</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./../../assets/js/component/file-flow.js"></script>