<div id="appMongo">
    <div class="card">
        <div class="card-header">
            MongoDB {{ connection_status }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Host</label>
                        <input type="text" id="mongoHost" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Port</label>
                        <input type="text" id="mongoPort" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" id="mongoPassword" class="form-control">
                    </div>
                    <button type="button" class="btn btn-info btn-block"><i class="fa fa-link" aria-hidden="true"></i> Connect</button>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="">Choose Database</label>
                        <select class="form-control">
                            <option value="">Choose</option>
                        </select>
                        <small class="text-muted">Found 10 entries</small>
                    </div>
                    <div class="form-group">
                        <label for="">Choose Collection</label>
                        <select class="form-control">
                            <option value="">Choose</option>
                        </select>
                        <small class="text-muted">Found 10 entries</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./../../assets/js/component/mongo.js"></script>